{% load static %}

<!doctype html>
<html lang="ru">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">

    <!-- ChartJS -->
    <link rel="stylesheet" href="{% static "css/Chart.min.css" %}">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="{% static "css/fontawesome.all.min.css" %}">

    <link rel="icon" href="{% static "favicon.ico" %}" type="image/x-icon">

    <title>
    {% block title %}
    Welcome to Braniac!
    {% endblock title %}
    </title>
</head>

<body>

{% include 'authapp/includes/inc_messages.html' %}

    <div class="row justify-content-around align-items-center" style="height: 100vh; margin: 0px">
        <div class="text-center">
            <p>
                <a href="{% url 'mainapp:main' %}"><img src="{% static "img/logo.png" %}" alt=""></a>
            </p>
            {% block content %}
            {% endblock %}


        </div>
    </div>


<!-- JavaScript section -->
<!-- Bootstrap -->
<script src="{% static "js/jquery-3.6.0.min.js" %}"></script>
<script src="{% static "js/popper.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>

<!-- ChartJs -->
<script src="{% static "js/Chart.min.js" %}"></script>

<!-- FontAwesome -->
<script src="{% static "js/fontawesome.all.min.js" %}"></script>

<!-- Toasts -->
<script>
    $(document).ready(function () {

        {% if messages %}
        // Toasts
        $(".toast").toast({delay: 5000});
        $(".toast").toast("show");
        {% endif %}
    });
</script>

</body>

</html>

{% block js %}

{% endblock js %}
