{% extends 'mainapp/base.html' %}

{% block content %}
    <div class="row justify-content-end my-2">
        <div class="col-sm-4 col-lg-2">
            <a href="{% url 'mainapp:log_download' %}" class="btn btn-primary btn-block"
               role="button">Скачать</a>
        </div>
    </div>
    <p>
    <div class="text-center text-muted">
        <small>First 1000 lines of log</small>
    </div>
    <div class="card-body">
        {% for log in logs %}
            {{ log }}<br>
        {% endfor %}
    </div>
    </p>

{% endblock %}